[data-liveedit-active]:hover {
    box-shadow: inset 0 0 2px rgba(0, 125, 126, 0.5);
}

.liveedit-bar {
    position: absolute;
    z-index: 99;
    display: none;
    line-height: 11px;
    align-self: start;
}

.liveedit-bar button {
    vertical-align: top;
    border: 0;
    border-radius: 0;
    background: rgb(0, 125, 126);
    color: #ffffff;
    text-transform: uppercase;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 1px 4px 0;
    width: auto;
}
.liveedit-bar button:hover { background: rgb(0, 103, 106); }

.liveedit-bar button:first-child {
    border-radius: 4px 0 0 4px;
}
.liveedit-bar button:last-child {
    border-radius: 0 4px 4px 0;
}

.liveedit-icon-right {
    width: 13px;
    height: 18px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'%3E%3Cpath fill='%23fff' d='M4.62 13V9.785H0V3.242h4.62V0L13 6.5z'/%3E%3C/svg%3E") top 2px center no-repeat;
}

.liveedit-icon-left {
    width: 13px;
    height: 18px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'%3E%3Cpath fill='%23fff' d='M8.38 13V9.785H13V3.242H8.38V0L0 6.5z'/%3E%3C/svg%3E") top 2px center no-repeat;
}

[data-liveedit-active]:hover > .liveedit-bar { display: block; }

/* Nested edit bars should sit under parent ones */
[data-liveedit-active] [data-liveedit-active] .liveedit-bar { z-index: 98; }
[data-liveedit-active] [data-liveedit-active] [data-liveedit-active] .liveedit-bar { z-index: 97; }

.liveedit-panel { 
    background: #fff;
    position: fixed;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    z-index: 10000; /* need to overlap wagtail-user-bar which is 9999 */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: bottom 0.3s ease;
    left: 0;
    bottom: -60vh;
}

.liveedit-topbar {
    background: #007d7e;
    height: 38px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.liveedit-topbar svg {
    display: block;
    width: 18px; 
    fill: #ffffff; 
    padding: 5px;
    margin: 0 15px 0 0;
}

.liveedit-title {
    color: #ffffff;
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-weight: bold;
    padding: 2px 20px;
    text-transform: uppercase;
    float: left;
}

.liveedit-panel iframe {
    border: 0;
    width: 100%;
    flex: 1 0 auto;
}

.liveedit-notice {
    position: absolute;
    z-index: 1000;
    background: #141414;
    color: #ffffff;
    padding: 5px 5px 5px 10px;
    top: 0px;
    left: calc(50% - 160px);
    width: 320px;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 22px;
}

.liveedit-notice a {
    float: right;
    display: inline-block;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 6px;
    line-height: 20px;
}

.liveedit-notice a:hover {
    color: #141414;
    background: #ffffff;
}
